<!-- Left sidebar navigation -->
<div class="row no_margin">
  <div class="col-md-4">
    <div class="sidebar">
      <a href="/index.html">
        <img class="logo" src="../img/bootstrap.png" alt=""/>
      </a>
          <ul class="navigation">
              <li>
                  <a title="" href="/index.html">Home</a>
              </li>
              <li>
                  <a title="" href="#">
                      UI Elements
                  </a>
                  <ul class="dropdown">
                 	 <li><a href="/colors">Colors</a></li>
                      <li><a href="/typography">Typography</a></li>
                      <li><a href="/buttons">Buttons</a></li>
                  </ul>
              </li>
              <li>
                  <a title="" href="#">Tools</a>
                  <ul class="dropdown">
                    <li><a href="/make-pattern">Make a pattern</a></li>
                  </ul>
              </li>
          </ul>
      </div>
    </div>
  </div>
  <!-- End navigation -->